#superstructure {
  width: 60%;
  height: 10em;
  background: rgb(9, 122, 220);
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window {
  width: 15%;
  height: 55%;
  background: rgb(0, 255, 238);
  border-radius: 50%;
  margin: 4%;
}

#shipBase {
  border-bottom: 10em solid rgb(6, 171, 83);
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
  height: 0;
  width: 75%;
  display: flex;
  margin: 0 auto;
  transform: rotate(-180deg);
  border-radius: 10px;
}

.rubber {
  border-bottom: 4em solid rgb(19, 16, 14);
  height: 0;
  width: 85%;
  display: flex;
  margin: 0 auto;
  transform: rotate(-180deg);
  border-radius: 30px;
}
.chimneyContainer {
  display: flex;
  width: 60%;
  height: 4em;
  margin: 0 auto;
}

.chimney {
  width: 10%;
  height: 4em;
  background: rgb(181, 190, 198);
  margin: 0 auto;
  display: flex;
}

.upperChimney {
  width: 10%;
  height: 6em;
  background: rgb(99, 33, 4);
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
}

body {
  margin: 0 auto;
  background-color: rgb(245, 236, 67);
}
